%main.container
  %h1.general-title-margin= t('index.catalog_title')
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
          = t('index.filter.newest_first')
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          %li
            %a{href: "#"}= t('index.filter.newest_first')
          %li
            %a{href: "#"}= t('index.filter.popular_first')
          %li
            %a{href: "#"}= t('index.filter.price_low')
          %li
            %a{href: "#"}= t('index.filter.price_high')
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: "#"}
          = t('index.filter.categories.all')
          %span.badge.general-badge 135
      %li.mr-35
        %a.filter-link{href: "#"}
          = t('index.filter.categories.mobi_dev')
          %span.badge.general-badge 135
      %li.mr-35
        %a.filter-link{href: "#"}
          = t('index.filter.categories.photo')
          %span.badge.general-badge 135
      %li.mr-35
        %a.filter-link{href: "#"}
          = t('index.filter.categories.web_design')
          %span.badge.general-badge 135
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10= t('index.filter.filter_title')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = t('index.filter.newest_first')
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"}= t('index.filter.newest_first')
        %li
          %a{href: "#"}= t('index.filter.popular_first')
        %li
          %a{href: "#"}= t('index.filter.price_low')
        %li
          %a{href: "#"}= t('index.filter.price_high')
    %p.lead.small.mb-10= t('index.filter.sort_by')
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = t('index.filter.newest_first')
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        %li
          %a{href: "#"}= t('index.filter.newest_first')
        %li
          %a{href: "#"}= t('index.filter.popular_first')
        %li
          %a{href: "#"}= t('index.filter.price_low')
        %li
          %a{href: "#"}= t('index.filter.price_high')
  .mb-120
    .row
    - @books.each do |book|
      .col-xs-6.col-sm-3
        .general-thumb-wrap
          .thumbnail.general-thumbnail
            %img.img-shadow.general-thumbnail-img{src: "book.photo", alt: "design-book"}
            .thumb-hover
              .general-thumb-link-wrap
                %a.thumb-hover-link{href: "books/#{book.id}" }
                  %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
                %a.thumb-hover-link{href: "#"}
                  %i.fa.fa-shopping-cart.thumb-icon
        .general-thumb-info
          %p.title= book.name
          %p.font-16.in-gold-500
            €
            = book.price
          %span.divider-sm
          %p.lead.small= book.author
    .text-center
      %button.btn.btn-primary= t('index.view_more')
