%main.container
  %a.general-back-link{href: "#{url_for(:back)}"}
    %i.fa.fa-long-arrow-left.mr-15
    = t('show.back')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          %img.img-responsive{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
        .images.clearfix
          %a.img-link{href: "#"}
            %img{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
          %a.img-link{href: "#"}
            %img{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
          %a.img-link{href: "#"}
            %img{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
    .col-sm-6
      %h1.mt-res-0= @book.name
      %p.lead.small= @book.author.name
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10
            €#{@book.price}
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position= t('show.add_to_cart')
      .general-info-wrap.divider-lg
        %p= t('show.description')
        - if @book.description.size > 240
          %p.lead.small.line-height-2.truncated-paragraph
            = truncate strip_tags(@book.description), length: 240
            %a.in-gold-500.ml-10.read-more{href: "#"}= t('show.read_more')
          %p.lead.small.line-height-2.normal-paragraph{style: "display: none;"}
            = strip_tags(@book.description)
            %a.in-gold-500.ml-10.read-less{href: "#"} Read Less
        - else
          = @book.description
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('show.year_of_publication')
          %p.lead.small.pull-right= @book.year_of_publication
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('show.dimensions')
          %p.lead.small.pull-right H:6.4\" x W: 0.9\" x D: 5.0
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('show.materials')
          %p.lead.small.pull-right Hardcove, glossy paper
  .mb-80
    %h3=  t('show.write_review')
    %p.general-info-text= t('show.score')
    .mb-15
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
    %form.row
      .col-md-8
        .mb-40
          .form-group
            %label.control-label.input-label.in-grey-600{for: "title"}= t('show.comment.title')
            %input#title.form-control{name:"title", type: "text"}
          .form-group
            %label.control-label.input-label.in-grey-600{for: "review"}= t('show.comment.review')
            %textarea#review.form-control{name:"review", type: "text"}
        .text-right
          %button.btn.disabled.mb-20= t('show.comment.post')
  .mb-80
    %h3.in-gold-500.mb-25 Reviews (3)
    .general-message-wrap.divider-lg
      .clearfix
        %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified Verified Reviewer
              .general-message-name Rita J. Lewis
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
          %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
    .general-message-wrap.divider-lg
      .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified.pull-right Verified Reviewer
              .general-message-name May J. Novoa
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star.rate-empty
          %p If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.
%script{src: "https://use.fontawesome.com/67602d7308.js"}
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
