%body
  %header.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle.pull-left{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand= t('header.shop_title')
        %a.shop-link.pull-right.visible-xs{:href => "#"}
          %span.shop-icon
            %span.shop-quantity 3
      %a.shop-link.pull-right.hidden-xs{:href => "#"}
        %span.shop-icon
          %span.shop-quantity 3
      #navbar.navbar-collapse.collapse.pl-30{"aria-expanded" => "false"}
        .visible-xs
          %button.close{"aria-label" => "Close", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"}= t('header.home')
            %li
              %a{"aria-controls" => "menu", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#menu", :type => "button"}= t('header.shop')
              %ul#menu.collapse.list-unstyled.pl-30.mb-10{"aria-expanded" => "false"}
                %li
                  %a.collapse-link{:href => "#"}= t('header.exp.mobi_dev')
                %li
                  %a.collapse-link{:href => "#"}= t('header.exp.photo')
                %li
                  %a.collapse-link{:href => "#"}= t('header.exp.web_design')
            %li
              %a{:href => "#"}= t('header.my_account')
        .hidden-xs
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"}= t('header.home')
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Shop
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}= t('header.exp.mobi_dev')
                %li
                  %a{:href => "#"}= t('header.exp.photo')
                %li
                  %a{:href => "#"}= t('header.exp.web_design')
                %li.divider{:role => "separator"}
                %li
                  %a{:href => "#"}= t('header.log_out')
            %li
              %a{:href => "#"}= t('header.my_account')
