!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BookStore
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "style", "https://fonts.googleapis.com/css?family=Open+Sans", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
